* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;  /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:16px;
	height:100%;
	width:100%;
}
table#field {
	margin:0;
	padding:0;
	border:0;
	table-layout:fixed;
	border-spacing:0;
	border-collapse:collapse;
	width:100%;
	height:100%;
	background:black;
}
table#field td {
	margin:0;
	padding:0;
	border:1px solid #000;
	overflow: hidden;
}
table#field td button {
	margin:0;
	padding:0;
	border:0;
	width:100%;
	height:100%;
	background:url(../img/blocco.png) no-repeat;
	background-size: 100% 100%;
	overflow:hidden;
}
.bomb {
	background:red;
}
.flag {
	background:green;
}
.minesweeper-bar {
	font-size:0.7em;
	text-align:center;
}
.minesweeper-bar span {
	margin:0 0.3em;
}
.minesweeper-bar .flags-counter:after {
	content:" Flags";
}
.minesweeper-bar .bombs-counter:after {
	content:" Bombs";
}
#splash {
	text-align:center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
