<?xml version='1.0' encoding='utf-8'?>
<widget	id="it.reyboz.minesweeper" version="1.5.9" versionCode="159" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MineSweeper</name>
    <description>A classic game where you have to discover bombs in a field.</description>
    <author email="valerio.bozzolan+minesweeper@gmail.com" href="http://contatti.reyboz.it">Open MineSweeper author.</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
